Bilbos.ETrader/Service References/FXWorld/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FXTrader.Common" />
  <xs:element name="RequestPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FXTrader.Common" minOccurs="0" name="request" nillable="true" type="q1:PriceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPriceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FXTrader.Common" minOccurs="0" name="request" nillable="true" type="q2:TradeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPriceStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FXTrader.Common" minOccurs="0" name="request" nillable="true" type="q3:PriceStatisticsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPriceStatisticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FXTrader.Common" minOccurs="0" name="response" nillable="true" type="q4:PriceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeExecuted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FXTrader.Common" minOccurs="0" name="response" nillable="true" type="q5:TradeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceStatisticsUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FXTrader.Common" minOccurs="0" name="response" nillable="true" type="q6:PriceStatisticsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>